.cat{
    background-color: cyan;
    width: 35%;
    height: 400px;
    float: left;
}
.cat img{
    float: left;
}
.dog{
    background-color: orange;
    width: 35%;
    height: 400px;
    float: right;
}
.dog img{
    float: left;
}
footer{
    clear: both;
    background-color: blueviolet;
    text-align: center;
}